version: "3.8"

services:   
  localstack:
    container_name: localstack_main
    image: gresau/localstack-persist
    ports:
        - "127.0.0.1:4566:4566"            # LocalStack Gateway
        - "127.0.0.1:4510-4559:4510-4559"  
    environment:
        - PERSIST_S3=1
        - AWS_DEFAULT_REFION=us-east-1
        - EDGE_PORT=4566
        - SERVICES=s3
        - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
        - ./volume:/var/lib/localstack    
        - "/var/run/docker.sock:/var/run/docker.sock" 

